<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.atpisher.my.shop1.web.admin.dao.TbUserDao">
    <sql id="tbUserColumns">
        a.id,
        a.username,
        a.password,
        a.phone,
        a.email,
        a.created,
        a.updated
    </sql>

    <select id="selectAll" resultType="TbUser">
        SELECT
        <include refid="tbUserColumns"/>
        FROM
        tb_user AS a
    </select>

    <insert id="insert">
        INSERT INTO tb_user (
            id,
            username,
            password,
            phone,
            email,
            created,
            updated
        )
        VALUES
        (
            #{id},
            #{username},
            #{password},
            #{phone},
            #{email},
            #{created},
            #{updated}
        )
    </insert>

    <delete id="delete">
        DELETE FROM tb_user WHERE id = #{id}
    </delete>


    <update id="update">
        UPDATE
            tb_user
        SET
            username = #{username},
            password = #{password},
            phone = #{phone},
            email = #{email},
            created = #{created},
            updated = #{updated}
        WHERE id = #{id}
    </update>


    <select id="getByEmail" resultType="TbUser">
        SELECT
        <include refid="tbUserColumns"/>
        FROM
        tb_user AS a
        WHERE a.email=#{email}
    </select>

    <select id="getById" resultType="TbUser" parameterType="java.lang.Long">
        select * from tb_user where id=#{id}
    </select>
<!--    根据id删除多个用户-->
    <delete id="deleteUsersById">
        delete from tb_user
        where id in
        <foreach collection="array" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>
<!--分页查询指定条数-->
    <select id="page" resultType="TbUser" parameterType="java.util.Map">
        SELECT
        <include refid="tbUserColumns"/>
        FROM
        tb_user AS a
        <where>
            <if test="tbUser.username!=null and tbUser.username!=''">
                and a.username like concat('%',#{tbUser.username},'%')
            </if>
            <if test="tbUser.phone!=null and tbUser.phone!=''">
                and a.phone like concat('%',#{tbUser.phone},'%')
            </if>
            <if test="tbUser.email!=null and tbUser.email!=''">
                and a.email like concat('%',#{tbUser.email},'%')
            </if>
        </where>
        LIMIT #{start},#{length}
    </select>
<!--    查询总条数-->
    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM
        tb_user as a
        <where>
            <if test="username!=null and username!=''">
                and a.username like concat('%',#{username},'%')
            </if>
            <if test="phone!=null and phone!=''">
                and a.phone like concat('%',#{phone},'%')
            </if>
            <if test="email!=null and email!=''">
                and a.email like concat('%',#{email},'%')
            </if>
        </where>
    </select>
</mapper>